html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.page {
  background-image: linear-gradient(to bottom, white, grey, white);
  min-height: 100vh; 
}

.flex2{
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  border: solid 1px black;
}

.flex2-a{
  flex: 1;
}

.pic{
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}


.inspo {
  position: absolute;
  top: 75%;
  left: 50%;
  color: white;
  border: solid 5px red;
  background-color: grey;
  border-radius: 5px;
  height: 200px;
  width: 250px;
  box-shadow: 5px 5px;
  font-size: 60px;
  padding: 20px
 }


.head {
  font-size: 50px;
  text-align: center;
  border: solid 1px;
  background-color: red;
  box-shadow: 3px 3px;
  border-radius: 3px;
}


.toggle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.showit {
  display: block;
}

.hideit {
  display: none;
}

.inspoflex{
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inspo-a {
  margin: 5px;
  flex: 1;
  height: 100%;
}

.inspo-b {
  margin: 5px;
  flex: 1;
  height: 100%;
}

.inspo-bflex{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.inspo-b1{
  flex: 1;
  height: 150px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.inspo-b2{
  flex: 1;
  height: 175px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.inspo-b3{
  flex: 1;
  height: 150px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.inspo-aflex{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.inspo-a1{
  flex: 1;
  height: 150px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-size: 30px;
}

.inspo-a2{
  flex: 1;
  height: 150px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-size: 30px;
}

.inspo-a3{
  flex: 1;
  height: 150px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-size: 30px;
}



.head2 {
  color: Black;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  border: solid 1px white;
  width: 200px;
  text-align: center;
  font-style: Italic;
  font-weight: bold;
}

.abtmeflex{
  display: flex;
  height: 50vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}

.abtme1{
  flex: 1;
  height: 100%;
}

.abtmeflex2{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  font-size: 30px;
  background-color: red;
  border-radius: 10px;
  border: solid 1px white;
}

.abtme2{
  flex: 1;
}

  
  .trainflex{
  height: 95vh;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.train-a {
  margin: 5px;
  flex: 1;
  height: 100%;
}

.train-aflex{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aflex1{
  flex: 1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: black;
  border: solid 1px red;
  border-radius: 10px;
}

.aflex2{
  flex: 3;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.aflex3{
  flex: 1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: solid 1px red;
  border-radius: 10px;
}

.train-b {
  margin: 5px;
  flex: 1;
  height: 100%;
}

.train-bflex{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bflex1{
  flex: 1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  Text-align: center;
  font-size: 50px;
  text-decoration: underline;
  padding: 10px;
  font-weight: bold;
}

.bflex2{
  flex: 3;
  border: solid 5px black;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
}

.bflex3{
  flex: 1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.all{
  height: 100%;
}

.rtdiv{
  border: white 1px solid;
  background-color: black;
  color: white;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
}

.rtflex{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 50vh;
}

.rtflex-a{
  flex: 1;
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
  font-size: 60px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  text-shadow: 5px 5px 5px white;
 }

.rtflex-b{
  flex: 1;
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
  font-size: 60px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  text-shadow: 5px 5px 5px white;
}

.rtdiv2{
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: solid white 1px;
  color: white;
  background-color: black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  
}

.contflex{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 95vh;
  }

.cflex-a{
  flex: 1;
  text-align: center;
 
}

.contflex3{
  height: 100%;
  flex-direction: column;
  display: flex;
}

.cf3a{
  flex: 2;
  font-size: 35px;
  font-style: Italic;
  padding: 35px;
  text-shadow: 2px 2px red;
}

.cf3b{
  flex: 1;
  font-size: 40px;
  text-decoration: underline;
  font-style: oblique;
}

.cf3c{
  flex: 1;
  font-size: 25px;
}

.cf3d{
  flex: 1;
  font-size: 25px;
}

.cf3e{
  flex: 2;
}

.cflex-b{
  flex: 1;
  text-align: center;
}

.contflex2{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cf2a{
  flex:1;
  background-color: black;
  border-radius: 3px;
  border: solid 3px white;
}

.cf2b{
  flex: 2;
 }
 
 .cf2c{
   flex: 1;
   background-color: black;
   border-radius: 3px;
   border: solid 3px white;
 }

