html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.showit{
  display: block;
}

.hideit{
  display: none;
}

.red{
  border: solid blue;
 
}
.parent {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  margin-top: 125px;
}

.blank {
  background-color: blue;
}

.blank:hover {
  background-color: yellow;
  border: solid 1px;
}

.blue{
  border: solid red;
}

.parent2 {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  grid-template-rows: 20px 20px;
  grid-gap: 10px;
  margin-top: 100px;
  margin-left: 25%;
}

.blank2 {
  background-color: Red;
}

.blank2:hover {
  background-color: green;
  border: solid 3px;
}

.yellow{
  border: solid yellow;
}

.parent3 {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 10px;
  margin-top: 100px;
  margin-left: 25%;
}

.blank3 {
  background-color: purple;
}

.blank3:hover {
  background-color: white;
  border: solid 5px;
}

.green{
  border: solid orange;
}

.parent4 {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 75px 75px 75px;
  grid-gap: 10px;
  margin-top: 100px;
  margin-left: 25%;
}

.blank4 {
  background-color: pink;
}

.blank4:hover {
  background-color: black;
  border: solid 1px blue;
}

.box{
  height: 400px;
  width: 800px;
}
