html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  
}

.corner{
  position: absolute;
  top: 5px;
  right: 5px;
}

.corner .material-symbols-outlined{
 font-size: 50px; 
}


.header{
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  height: 20px;
  width: 250px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px;
  border-radius: 5px;
  
}

.titlea{
  display: inline;
}

.titleb{
  display: none;
}

.bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  
}

.boxholder{
  margin: auto;
  margin: auto;
  border: solid blue;
}

.low-page{
 flex: 1;
}

.box1{
  height: 200px;
  width: 200px;
  background-color: teal;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 1s;
  border-radius: 50%
}

.box2{
  height: 200px;
  width: 200px;
  background-color: teal;
  transition: 1s;
  margin-left: 20px;
}

.page{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, white, skyblue)
}

.box1:hover {
   border-radius: 0%;
   background-color: purple;
}

.box2:hover {
  border-radius: 50%;
  background-color: purple;
}

.corner .material-symbols-outlined:hover{
 font-size: 55px; 
 transition: 1s;
}



@media only screen and (max-width: 700px)
{
  
 .titlea{
   display: none;
 } 
 
 .titleb{
   display: inline;
 }
  
  .corner{
    display: none;
  }
  
  .header{
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  height: 20px;
  width: 200px;
  text-align: center;
  background-color: white;
  box-shadow: 3px 3px;
  border-radius: 5px;
  
}
}
